server      = false
datacenter  = "{{ consul_dc_name }}"
domain      = "{{ consul_domain }}"
node_name   = "{{ ansible_hostname }}"
encrypt     = "{{ consul_key }}"
bind_addr   = "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
client_addr = "0.0.0.0"
data_dir    = "/opt/consul"
log_level   = "{{ consul_log_level }}"

retry_join = [
{% for server in consul_servers %}
  "{{ server }}",
{% endfor %}
]

leave_on_terminate   = false
enable_script_checks = true
