server      = true
datacenter  = "{{ consul_dc_name }}"
domain      = "{{ consul_domain }}"
node_name   = "{{ ansible_hostname }}"
encrypt     = "{{ consul_key }}"
bind_addr   = "{{ hostvars[inventory_hostname]['ansible_default_ipv4']['address'] }}"
client_addr = "0.0.0.0"
data_dir    = "/opt/consul"
log_level   = "{{ consul_log_level }}"

bootstrap_expect = {{ ansible_play_hosts | length }}

{% if ansible_play_hosts | length > 1 %}
retry_join = [
{% for server in ansible_play_hosts %}
{% if server != inventory_hostname %}
  "{{ hostvars[server]['ansible_default_ipv4']['address'] }}",
{% endif %}
{% endfor %}
]
{% endif %}

# acl
acl {
  enabled                  = {{ consul_enable_acl | lower }}
  default_policy           = "deny"
  enable_token_persistence = true
}

# performance
performance {
  raft_multiplier = {{ consul_raft_multiplier }}
}

# connect
connect {
  enabled = true
}

# grpc
addresses {
  grpc = "0.0.0.0"
}

ports {
  grpc     = 8502
  grpc_tls = 8503
}

# ui
ui_config {
  enabled = true
}
